body {
    background-color: #6B5B95;
}

.header-h1 {
    text-align: center;
    margin-bottom: 25px;
}

.game-box {
    text-align: center;
}

.game-p {
    margin-bottom: 25px;
}

.btn {
    height: 70px;
    width: 70px;
}

.fa-regular  {
    font-size: 30px;
}

.fa-hand-back-fist {
    color: gray;
}
.fa-hand-lizard {
    color: green;
}

.fa-hand-scissors {
    color: red;
}

.fa-hand-spock {
    color: black;
}

.fa-hand {
    color: #FAD02C;
}

