body {
    background-color: #6B5B95;
    color: white;
}

.header-h1 {
    text-align: center;
    margin-bottom: 25px;
}

.game-box {
    text-align: center;
    letter-spacing: 1px;
}

.game-p {
    margin-bottom: 15px;
    font-size: 120%;
}

.result p:last-of-type {
    font-size: 140%;
    margin-bottom: 45px;
}

.btn {
    height: 70px;
    width: 70px;
}

.btnRock:hover {
    background-color: gray;
    color: black;
}

.btnLizard:hover {
    background-color: green;
    color: black;
}

.btnSpock:hover {
    background-color: black;
    color: black;
}

.btnPaper:hover {
    background-color: #FAD02C;
    color: black;
}

.btnScissors:hover {
    background-color: red;
    color: black;
}


.fa-regular {
    font-size: 30px;
}

.fa-hand-back-fist {
    color: gray;
}

.fa-hand-lizard {
    color: green;
}

.fa-hand-scissors {
    color: red;
}

.fa-hand-spock {
    color: black;
}

.fa-hand {
    color: #FAD02C;
}

.btn:hover>i {
    color: black
}

.btn:hover>.fa-hand-spock {
    color: white
}

footer {

    width: 100vw;
    text-align: center;
    left: 0;
    bottom: 0;
    padding-top: 1px;
    box-sizing: border-box;
    color: #fff;
    background-color: #6B5B95;
    position: fixed;
}

.hidden {
    display: none;
}

.footer-rules {
    display: inline-block;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    margin: 3px;
    width: 90px;
    height: 40px;
    border-style: solid;
}

#rules-text {
    text-align: center;
}